ChatPanel {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 500px;
	flex-direction: column;
	pointer-events: none;

	&.chat-open {
		pointer-events: all;
	}

	.messages {
		flex-direction: column;
		gap: 4px;
		margin-bottom: 10px;
		max-height: 300px;
		overflow-y: scroll;
	}

	.entry {
		flex-direction: row;
		background-color: rgba(0, 0, 0, 0.65);
		padding: 6px 10px;
		border-radius: 6px;
		gap: 6px;
		flex-shrink: 0;

		&.action {
			.name {
				font-style: italic;
				color: #e7aaff;
			}

			.text {
				font-style: italic;
				color: #e7aaff;
			}
		}

		&.do-action {
			.name {
				color: #8f8;
			}

			.text {
				color: #8f8;
			}
		}
	}

	.name {
		font-size: 18px;
		font-weight: bold;
		color: #ffd166;
	}

	.text {
		font-size: 18px;
		color: white;
	}

	.chat-input {
		height: 42px;
		background-color: rgba(0, 0, 0, 0.9);
		color: white;
		font-size: 18px;
		padding: 8px;
		border-radius: 6px;
		transition: opacity 0.2s ease;

		&.dimmed {
			opacity: 0.35;
			pointer-events: none;
		}
	}
}